# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/dist
/public/dist
/build
/logs/*

# dependencies
node_modules

# IDEs and editors
/.idea
.project

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage/*
npm-debug.log
/typings

# data
data/*

#System Files
.DS_Store
Thumbs.db
*.bak

# config
.env
package-lock.json
yarn.lock
app.json
config/roles.json
public/app/langs/config.js
