<div class="row height100 overflow-auto">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'Breadcrumb.auth.changePassword' | translate }}</h3>
        </div>

        <div class="panel-body">
            <form role="form" name="formChangePw" ng-submit="fn.changePw()" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-sm-4">{{ 'Label.oldPassword' | translate }}</label>

                        <div class="col-sm-4">
                            <input type="password" class="form-control"
                                   ng-model="object.old_password"
                                   min="6" required="required"
                                   placeholder="{{ 'Placeholder.oldPassword' | translate }}"
                            />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-4">{{ 'Label.newPassword' | translate }}</label>

                        <div class="col-sm-4">
                            <input type="password" class="form-control"
                                   ng-model="object.new_password"
                                   ng-change="fn.changeNewPw()"
                                   min="6" required="required"
                                   placeholder="{{ 'Placeholder.newPassword' | translate }}"
                            />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-4">{{ 'Label.rePassword' | translate }}</label>

                        <div class="col-sm-4">
                            <input type="password" class="form-control"
                                   ng-model="object.retype_password"
                                   ng-change="fn.changeNewPw()"
                                   min="6" required="required"
                                   placeholder="{{ 'Placeholder.rePassword' | translate }}"
                            />
                        </div>
                    </div>

                    <div class="form-group row" ng-if="statusMsg">
                        <h5 class="col-sm-offset-4 col-sm-11 text-danger">
                            {{ 'Label.error' | translate }} {{statusMsg}}
                        </h5>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-4 col-sm-offset-4 formChangePw">
                        <button type="submit" ng-disabled="msg.disable" class="btn btn-primary pull-left">
                            <i class="fa fa-save"></i> {{ 'Button.save' | translate }}
                        </button>

                        <button ng-click="fn.back()" class="btn btn-warning pull-left">
                            <i class="fa fa-reply"></i> {{ 'Button.cancel' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
