<div class="modal-header">
    <button ng-click="modalRecord.close()" class="close">&times;</button>
    <h3 class="text-warning">{{ "Popup.records.title" | translate }}</h3>
</div>

<div class="modal-body recorder_master">
    <div id="controls">
        <button id="recordButton" ng-click="audio.startRecording(event)">{{ 'Button.record' | translate }}</button>
        <button id="stopButton" disabled ng-click="audio.stopRecording(event)">{{ 'Button.stop' | translate }}</button>
        <button ng-show="!objRecorder.success" disabled>{{ 'Button.download' | translate }}</button>
        <a ng-show="objRecorder.success" class="btn_recorder" id="downloadButton">
            {{ 'Button.download' | translate }}
        </a>
    </div>

    <div ng-show="objRecorder.success" id="recordList">
        <div id="formats">{{ "Popup.records.desc_1" | translate }}</div>
        <h3>{{ "Popup.records.desc_2" | translate }}</h3>
        <div id="audio_result"></div>
    </div>
</div>

<div class="modal-footer">
    <button ng-click="modalRecord.close()" class="btn btn-warning">{{ 'Button.close' | translate }}</button>
</div>
